<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <!-- Importaciones de estilos -->


    <!-- Fuente Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- Fuente Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Font awsome -->
    <script src="https://kit.fontawesome.com/888d2d3a6b.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
    <!-- Hoja de estilos -->
    
    <link rel = 'stylesheet' href = '/CSS/styles.css'>
</head>
<body>

    <!-- ---------------------------------- HEADER ---------------------------------- -->

    <header>

        <!-- Logo -->
        <section id = 'header-superior'> 

            <img class = 'logo-header' src = '/images/logo-mercado-liebre.svg' alt = Logo>

            <!-- Bara búsqueda -->

            <input id = 'barra-busqueda' placeholder = 'Busca productos, marcas, etc'>

            <!-- - -->

            <article id = 'Compra-en-cuotas'> Compra en cuotas y sin tarjeta de crédito </article>
        </section>

        <section id = 'opciones-header'>

            <section class = 'opciones-header-1'>

            <p class = 'opcion-header'> Ofertas </p>
            <p class = 'opcion-header'> Tiendas Oficiales </p>
            <p class = 'opcion-header'> Vender </p>
            <p class = 'opcion-header'> Ayuda </p>
            
            </section>

            <section class = 'opciones-header-2'>

            <p class = 'opcion-header'> Crea tu cuenta </p>
            <p class = 'opcion-header'> Ingresa </p>
            <p class = 'opcion-header'> Mis compras </p>

            </section>

        </section>
        <img src = '/images/menu.png' alt = 'menu barras' id = 'menu-barras'>
        
        <!-- <div id = 'menu-hamburguesa' > 
            <div class = 'fa-solid fa-bars'></div>
        </div>  -->
        <img src = '/images/img-home-banner.jpg' alt = 'banner' id = 'banner'>
    </header>


    <!-- ---------------------------------- MAIN ---------------------------------- -->



    <main>

        <div class = 'form-container'>
            <form action = '/register' method = 'POST' class = 'row justify-content-center'>
    
                <div class = 'ef'></div>
                <label for = 'nombre-usuario' class = 'col-5 linea-formulario'> Nombre de usuario </label>
                <input  type = 'text' name = 'nombre-usuario' class = 'col-5 redondeo' placeholder="Tu nombre de usuario">

    
                <div class = 'ef'></div>
                <label for = 'password' class = 'col-5 linea-formulario'> Contraseña </label>
                <input type = 'password' name = 'password' class = 'col-5 redondeo' placeholder="Escribe tu contraseña">

    
                <div class = 'ef'></div>
                <button type="submit" form="form1" value="Submit" class = 'col-8 linea-formulario redondeo'>Enviar</button>

    
    
                
    
    
    
    
            </form>
    
    
    
        </div>

    </main>

    <!------------------------------------ FOOTER ---------------------------------->

    <footer>

        <section id = 'elementos-footer' class = 'row elementos-footer'>

            <article id = 'paga-con' class = 'section-footer col-md-3' >
                <!-- Imagen tarjeta -->
                <i class="fa-solid fa-credit-card fa-2xl logo-footer"></i>

                <p class = 'sub-footer' > Paga con tarjeta o en efectivo </p>
                <p class = sub-sub-footer> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>

            </article>

            <article id = 'envio-desde' class = 'section-footer col-md-3'>
                <!-- Imagen regalo -->
                <i class="fa-solid fa-gift fa-2xl logo-footer"></i>

                <p class = 'sub-footer'> Envío gratis desde $2.500 </p>
                <p class = sub-sub-footer>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
                
            </article>

            <article id = seguridad class = 'section-footer col-md-3'>
                <!-- Imagen seguridad -->
                <i class="fa-solid fa-user-shield fa-2xl logo-footer"></i>
                
                <p class = 'sub-footer'>  Seguridad, de principio a fin </p>
                <p class = sub-sub-footer>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>

            </article>


        </section>
        <article id = 'Copyright' class = 'section-footer'>

            <p> Copyright 1999-2020 MercadoLiebre S.R.L </p>
            
        </article>


    </footer>
    
</body>
</html>